<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <staticContent>
      <mimeMap fileExtension=".json" mimeType="text/plain" />
      <mimeMap fileExtension=".anim" mimeType="text/plain" />
      <mimeMap fileExtension=".scene" mimeType="text/plain" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
    </staticContent>

  </system.webServer>
</configuration>
  